.place__paragraph {
    max-width: 484px;
    margin: 48px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:nth-child(2) {
    margin: 26px 0 0;
}

@media screen and (max-width: 1140px) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 984px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 568px) {
    .place__paragraph {
        max-width: 288px;
        margin: 32px 0 0;
    }
    .place__paragraph:nth-child(2) {
        margin: 25px 0 0;
    }
}

