.website {
    width: 456px;
    height: 46px;
    margin: 0;
    align-self: end;
 }

@media screen and (max-width: 984px) {
    .website {
        max-width: 352px;
    }
}

@media screen and (max-width: 568px) {
    .website {
        max-width: 288px;
    }
}