.place {
    margin-bottom: 80px;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
    .place {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .place {
        max-width: 720px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        width: 600px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .place {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .place {
        max-width: 320px;
        margin-bottom: 50px;
    }
}